@{
    ViewBag.Title = "Confirm Email";
}


<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>


        <div class="login_wrapper">
            <div class="animate form login_form">
          


                <section class="login_content">
                    <form method="post" action="~/Account/Login/">
                        <h1>Account Confirmation</h1>
                        <div>
                            <p>
                                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    </form>
                </section>
            </div>


        </div>
    </div>
</body>
