@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<body class="login">
    <div>



        <div class="login_wrapper">
            <div class="animate form login_form">


                <section class="login_content">
                    <form method="post" action="~/Account/ForgotPassword/">
                        <h1>
                            Success!
                        </h1>
                        <div>
                            @if (TempData["Success"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["Success"]
                                </div>
                            }
                            else
                            {
                                var url = "/Home/";

                                Response.Redirect(url);

                            }
                        </div>



                        <div class="separator">
                            <p class="change_link">
                                Click here to login
                                <a href="/Account/Login" class="to_register">Login</a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                @Html.Partial("__FooterInformation")

                            </div>
                        </div>


                    </form>
                </section>
            </div>


        </div>
    </div>
</body>

