
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>


        <div class="login_wrapper">
            <div class="animate form login_form">
                <div>
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["Error"]
                        </div>
                    }
                </div>

                <div>
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["Success"]
                        </div>
                    }
                </div>

                <div>
                    @if (TempData["Info"] != null)
                    {
                        <div class="alert alert-info" role="alert">
                            @TempData["Info"]
                        </div>
                    }
                </div>


                <section class="login_content">

                    <form id="frmReset">
                        <h1>
                            Forgot your password?
                        </h1>
                        <div>
                            <input type="text" class="form-control" id="txtEmail" name="Email" placeholder="Email" required="" />
                        </div>

                        <div>
                            <button class="btn btn-default submit" href="#" onclick="ResetPasswordRequest()" type="button">Submit</button>
                        </div>
                        <div class="separator">


                            <div class="clearfix"></div>
                            <br />

                            <div>
                                @Html.Partial("__FooterInformation")
                            </div>
                        </div>
                    </form>
                </section>
            </div>


        </div>
    </div>
</body>


<div id="divLoader" style="display:none;" class="loader">

    <img src="~/Content/loaders/loading-23.gif" alt="Loader" style="width:20em;" />

</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/sweetalart/sweetalert.min.css" rel="stylesheet" />
<script src="~/Content/sweetalart/sweetalert.min.js"></script>
<script>

    function ResetPasswordRequest(e) {

        if ($('#txtEmail').val() == '') {
            $('#txtEmail').focus();
            swal({
                position: 'top-end',
                type: "error",
                title: "Email is a required field",
                showConfirmButton: true,
            });

            return false;
        }
        

        $("#divLoader").show();

        var formData = new FormData($('#frmReset').get(0));

        $.ajax({
            type: "POST",
            url: "/Account/ResendPassword", // NB: Use the correct action name
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,


            success: function (response) {
                if (response.success) {

                    swal({
                        title: "Success!",
                        text: response.responseText,
                        type: "success"
                    }), setTimeout(function () { location.reload(); }, 10000);

                } else {

                    swal({
                        position: 'top-end',
                        type: "error",
                        title: response.responseText,
                        showConfirmButton: true,
                        timer: 5000,
                    });

                }

                $("#divLoader").hide();
            },


            error: function (error) {
                alert("errror");
            }
        });

    }






</script>
