@{
    ViewBag.Title = "Reset password confirmation";
}

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>


        <div class="login_wrapper">
            <div class="animate form login_form">
                           


                <section class="login_content">
                    <form method="post" action="~/Account/ForgotPassword/">
                        <h1>
                            Success !
                        </h1>


                        <div>
                        
                            <div class="alert alert-success" role="alert">
                                Your password has been successfully reset.
                            </div>
                           
                        </div>
                                                
                        <p>
                            Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </p>


                        <div class="separator">


                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-building"></i> Winkad Fresh | Drops</h1>
                                <p>©2021 All Rights Reserved.Skisoft Systems. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>


        </div>
    </div>
</body>