
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form method="post" action="/Account/ResetPassword/">
                        <h1>
                            Reset Password

                        </h1>


                        <div class="row">

                            <div class="col-md-12">
                                <input type="hidden" class="form-control" value="@ViewBag.Code" name="Code" required="" />
                                <input type="email" class="form-control" placeholder="Email" name="Email" required="" />

                            </div>


                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="Password" name="Password" required="" />

                            </div>

                            <div class="col-md-12">
                                <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword" required="" />

                            </div>

                        </div>


                        <div>
                            <button class="btn btn-default submit" href="#" type="submit">Submit</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">


                            <div class="clearfix"></div>
                            <br />

                            <div>
                                @Html.Partial("__FooterInformation")
                            </div>
                        </div>
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>