<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Express | Store </title>

<!-- Bootstrap -->
<link href="~/Content/dashboard/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<!-- Font Awesome -->
<link href="~/Content/dashboard/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="~/Content/dashboard/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- Animate.css -->
<link href="~/Content/dashboard/vendors/animate.css/animate.min.css" rel="stylesheet">

<!-- Custom Theme Style -->
<link href="~/Content/dashboard/vendors/bootstrap/build/css/custom.css" rel="stylesheet" />




<div class="container body-content">
    @RenderBody()

</div>