
@{
    ViewBag.Title = "TestStk";
}

<form method="post" action="~/Administrator/Payments/MpesaPayment">
    <label>Phone Number</label>
    <input class="form-control" type="text" name="PhoneNumber" />
    <input type="submit" value="Pay" class="btn btn-success" />
</form>

