
@{
    ViewBag.Title = "SlideTest";
   
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="title">20 ltr</div>
                <div class="title_left">

                </div>
           
            </div>

        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="title">20 ltr</div>
                <div class="title_left">

                </div>
                <img src="~/Content/images/american-express.png"  />
            </div>

            <div class="footer">
                <p>Add to cart 10$</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="title">20 ltr</div>
                <div class="title_left">

                </div>
                <img src="~/Content/images/american-express.png" />
            </div>

            <div class="footer">
                <p>Total :450 ks</p>

            </div>

            <div class="card bx-color-fill">
                <input type="submit" value="Aprove Order" class="btn btn-success pull-right" />
            </div>


           
        </div>


    </div>
</div>

<style>
    .card {
        margin-bottom: 10px;
    }
</style>

